<?PHP
/* MYSQL Configuration */
/* Change DBType to either 'sqlite' or 'mysql' if not using docker. */
$DBType         =       'sqlite';
$DBServer       =       'mysqlserver';
$DBUser         =       'mysqlusername';
$DBPassword     =       'mysqlpassword';
$DBName         =       'data/tasmobackup';
