<?PHP
/* MYSQL Configuration */
$DBType		=	'mysql';
$DBServer       =       'mysqlserver';
$DBUser         =       'mysqlusername';
$DBPassword     =       'mysqlpassword';
$DBName         =       'tasmobackup';

#$DBType	=	'sqlite';
#$DBName	=	'tasmobackup';
